
body {
  font-family: monospace;
  background-color: black;
  color: #ccc;
}

h3 {
  color:blueviolet;
}

#roomDesc {
  font-size: larger;
}

#output {
  max-height: 500px;
  min-height: 50px;
  overflow: auto;
  width: 100%;
  background-color: black;
  color:#ccc;
  font-size: larger;
}

#input {
  font-size: larger;
  border: none;
  width: 100%;
  outline: none;
  color: #ccc;
  background-color: rgb(27, 27, 27);
}

strong {
  color: yellow;
}

.text-red {
  color: red;
}