
body {
  font-family: monospace;
}

#output {
  max-height: 500px;
  min-height: 50px;
  overflow: auto;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

#input {
  border: none;
  width: 100%;
  outline: none;
  background-color: lightgrey;
}

.text-red {
  color: red;
}